.carta {
    border: 2px solid rgb(184, 184, 184);
    color: rgb(107, 107, 107);
    padding: 10px;
    border-radius: 13px;
    max-width: 25rem
}

.pulsante {
    background: rgba(15, 145, 37, 0.548);
    color: rgb(90, 88, 88)
}

.pulsante:hover {
    background-color: rgba(9, 88, 22, 0.548);
  }

td,
th {
    padding: 5px;
    text-align: left;
}