<app-header></app-header>
<hr>

<div class="container-fluid">
  <div class="form-group col-md-2 offset-md-5">
    <label class="stato">Dammi lo stato</label>
      <input type = "text" name = "countryId" id = "countryId" class="form-control" placeholder="IT, ET, FR, GE, ecc..." [(ngModel)]="cId">
      <small id="emailHelp" class="form-text">Inserire un ISO-3166 coutry code.</small>
  </div>

  <!-- Capitale -->
  <div *ngIf="success"  class="center">
      <label class="stato">La capitale è:  {{ risposta.data.capital }}  </label>    
  </div>

  <br>

  <!-- Prefisso telefonico-->
  <div *ngIf="success" class="center">
    <label class="stato">Il prefisso telefonico è:   {{ risposta.data.callingCode }} </label>
  </div>

  <!-- Valore non valido -->
  <div *ngIf="noFound" class="center">
    <label class="stato"> Il codice non è valido </label>
  </div>

  <button type="submit" (click)="getData()" class="btn btn-primary offset-md-7">Invia</button>

</div>